<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Eliminar Registro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <form action="{% url 'venta_delete' object.id %}" method="post">
            {% csrf_token %}
            <div class="modal-body">
                ¿Está seguro que desea eliminar el registro: "<strong>{{ object.cliente }}  </strong>"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Cancelar</button>
                <button type="submit" class="btn btn-danger">Si, Eliminar</button>

            </div>
    </div>
    </form>
</div>