{% extends 'base.html' %}



{% block main %}
<div class="row">
    <div class="col">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
</div>

<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2>Gestionar <b>{{entidad}}</b></h2>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'categoria_create'%}" class="btn btn-success"><i class="material-icons">&#xE147;</i>
                    <span>Añadir nuevo registro</span></a>

            </div>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            
            <tr>

                <th>Categoría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for dato in object_list %}
            <tr>

                <td>{{ dato.categoria }}</td>
                <td>
                    <a class="btn btn-light btn-sm " onclick="abrirModalDetalle('{% url 'categoria_detail' dato.id%}')">
                        <i class="material-icons">visibility</i>

                    </a>

                    <a class="btn btn-light btn-sm" href="{% url 'categoria_update' dato.id%}">
                        <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                    </a>

                    <a class="btn btn-light btn-sm" onclick="abrirModalEliminar('{% url 'categoria_delete' dato.id%}')">
                        <i class="material-icons" data-toggle="modal" data-target="#exampleModal"  title="Delete">&#xE872;</i>
                    </a>


                </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
    <div class="clearfix">
        <div class="container-fluid">
            <!-- /paginador -->
            <ul class="pagination pagination-sm m-0 float-right">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center mt-2">

                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                        </li>
                        {% endif %} {% for i in page_obj.paginator.page_range %} {% if i == page_obj.number %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ i }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                        {% endif %} {% endfor %} {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                        </li>
                        {% endif %}

                    </ul>
                </nav>
            </ul>
        </div>
    </div>


</div>
<!-- Modal Eliminar -->
<div class="modal fade" id="eliminar" role="dialog">

</div>
<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="detalle" aria-hidden="true">

</div>


{% endblock main %}


{% block js %}




<script>
    /** funcion para abrir el modal de eliminar */
    function abrirModalEliminar(url) {

        $('#eliminar').load(url, function () {
            $('#eliminar').modal('show');
        })
    }

    /** funcion para abrir el modal de eliminar */
    function abrirModalDetalle(url) {

        $('#detalle').load(url, function () {
            $('#detalle').modal('show');
        })
    }
</script>


{% endblock js %}

</body>

</html>